.events {
	min-height: 79vh;
}
.page-name {
	color: var(--text-color);
}

.events-manager-add {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 5px;
}

.events-list {
	color: var(--text-color);
	a {
		color: var(--text-color);
		text-decoration: none;
	}
}

.table-btn {
	text-align: right;
}

.btn-delete {
	display: flex;
	padding: 10px 20px;
	margin-left: auto;
}

.ascending {
	&::after {
		content: ' ↓';
	}
}
.descending {
	&::after {
		content: ' ↑';
	}
}
@media (max-width: 364px) {
	.events-table {
		overflow-x: scroll;
	}
}
