.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
}

.table-container {
	flex-direction: column;
}
.table-btn {
	text-align: right;
}

.ascending {
	&::after {
		content: ' ↓';
	}
}
.descending {
	&::after {
		content: ' ↑';
	}
}

.btn-edit {
	box-shadow: none;
}
