.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
}

.table-container {
	flex-direction: column;
}

.table {
	box-shadow: none;
	thead {
		background-color: #f2f3f4;
	}
}
td {
	vertical-align: middle;
}

.ascending {
	&::after {
		content: ' ↓';
	}
}
.descending {
	&::after {
		content: ' ↑';
	}
}

.btn-outline-secondary {
	box-shadow: none;
}
