.profile-page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 80vh;
}
.main-container {
  justify-content: center;
  padding-top: 24px;
}
.profil-title {
  padding-top: 8px;
  margin-bottom: 8px;
  color: var(--text-color);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}
.profile-photo {
  margin-top: 20px;
  max-height: 340px;
  max-width: 340px;
  @media screen and (max-width: 1600px) {
    width: 250px;
    height: 250px;
  }
}
.container-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  padding-bottom: 20px;
  background-color: var(--primary);
  width: 100%;
}

.list-unstyled {
  margin-top: 15px;
}
.edit-btn {
  min-width: 200px;
}

.info-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    align-items: center;
  }
  &__name {
    color: var(--text-color);
  }
  &__info-title {
    color: var(--text-color);
  }
}
.edit-btn {
  max-width: 200px;
}
.profile-field {
  width: 45vw;
  @media screen and(max-width:1600px) {
    width: 75%;
  }
  @media screen and(max-width:800px) {
    width: 95%;
  }
}
