.scorers{
  &-container{
    background-color: var(--primary);
    border: 1px var(--border-color) solid;
  }
  &-avatar{
    width: 7vw;
  }
  &-item{
    color: var(--subtext-color);
  }
  &-img{
    width: 4vw;
    height: 4vw;
    background-color: var(--subtext-color);
  }
  &-text{
    color: var(--text-color);
  }
}