.members-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  min-height: 79vh;
}

.btn-create-user {
  display: block;
  margin: 20px auto;
  padding: 10px;
}

.table {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.members-add-user {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

.btn-edit {
  display: flex;
  padding: 10px 20px;
  margin-left: auto;
}

.btn-delete {
  display: flex;
  padding: 10px 20px;
}

.ascending{
  &::after{
    content: " ↓";
  }
}
.descending{
  &::after{
    content: " ↑";
  }
}