.forgotpassword-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}
.forgotpassword-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  padding: 50px 50px;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e6e7e9;
  box-shadow: rgb(30 41 59 / 4%) 0 2px 4px;
}
.btn-block {
  position: relative;
  width: 100%;
}
.forgotpassword-btn {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.forgotpassword-title {
  margin: 10px 0 30px 0;
}

.forgotpassword-image-letter {
  position: absolute;
  height: 26px;
  width: 30px;
  top: 50px;
  left: 70px;
  @media screen and (max-width: 540px) {
    display: none;
  }
}
.forgotpassword-label {
  margin-right: auto;
  margin-top: 20px;
}
.forgotpassword-text {
  text-align: left;
  font-weight: 300;
  opacity: 0.7;
}
.sendmeback {
  margin-top: 20px;
  font-weight: 300;
  opacity: 0.7;
}
.back-linck {
  cursor: pointer;
}
.incorrect-email {
  margin: 0 !important;
}
