.changepassword-field {
  width: 60%;
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}
.change-password-form {
  display: flex;
  flex-direction: column;
}
.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}
.text-hiden {
  visibility: hidden;
}
.show-worning {
  visibility: visible;
}
.current-password-input {
  margin-bottom: 2rem !important;
}
.password-input {
  display: flex;
  flex-direction: column;
}
.password-label {
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}

.password-btn {
  @media screen and (max-width: 700px) {
    width: 100%;
  }
}
