.soon_events{
  margin-left: calc(.5 * var(--bs-gutter-x));
  &-title{
    margin-left: -0.7vw;
  }
  &-container{
    background-color: var(--primary);
    border: 1px var(--border-color) solid;
    width: 100%;
  }
}

@media (max-width: 1195px) {
  .soon_events{
    margin-left: calc(1 * var(--bs-gutter-x));
    &-title{
      margin-left: calc(-.5 * var(--bs-gutter-x));
    }
    &-container{
      width: 97%;
    }
  }
}

@media (max-width: 575px) {
  .soon_events{

    &-container{
      width: 99%;
    }
  }
}


