:root[data-theme='light'] {
	--primary: #ffffff;
	--secondary: #f5f7fb;
	--text-color: #1e293b;
	--subtext-color: #626976;
	--border-color: #e6e7e9;
}

:root[data-theme='dark'] {
	--primary: #1e293b;
	--secondary: #1b2434;
	--text-color: #ffffff;
	--subtext-color: #e6e7e9;
	--border-color: #293345;
}
.w-10 {
	width: 10%;
}
.w-15 {
	width: 15%;
}
.w-20 {
	width: 20%;
}
.w-30 {
	width: 30%;
}
.w-35 {
	width: 35%;
}
.theme{
	color: var(--text-color)!important;
	background: var(--primary) !important;
	border-color: var(--border-color) !important;

}

body {
	background-color: var(--secondary);
	color: var(--subtext-color);
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
