.warning_before_delete{
  text-align: center;
  background: var(--secondary);
  border: 2px var(--border-color) solid;
  box-shadow: #626976 0px 5px 10px;
  width: 25vw;
  height: 12vh;
  margin: 0 25%;
  & h5{
    border-bottom: 2px var(--border-color) solid;
    color: var(--text-color);
  }
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 4vw;
}
