.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.btn-table-create {
  display: block;
  margin: 20px auto;
  padding: 10px;
}

.table {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.events-manager-add {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

.ascending{
  &::after{
    content: " ↓";
  }
}
.descending{
  &::after{
    content: " ↑";
  }
}